<h1>お問い合わせ内容</h1>

問い合わせ項目: <%= @inquiry.inquiry_type %><br>
名前: <%= @inquiry.name %><br>
かな: <%= @inquiry.name %><br>
メールアドレス: <%= @inquiry.email %><br>
電話番号: <%= @inquiry.phone_number%><br>
Message: <%= @inquiry.message %><br>